<p><%= t('devise.greeting') %> <%= @resource.email %></p>

<p><%= t('devise.instruction') %></p>

<p><%= link_to t('devise.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.instruction_2') %></p>
<p><%= t('devise.instruction_3') %></p>